Repository rentpath/react-ui, pull requests merged in 2018-04, with the labels that each got.

#226 feat(dependencies): upgrade packages
  package.json
  packages/react-ui-ag/package.json
  packages/react-ui-core/package.json
  packages/react-ui-rent/package.json
  packages/react-ui-rentals/package.json
  packages/react-ui-tracking/package.json
  packages/react-ui-utils/package.json
  yarn.lock
Labels: PR: RTM, Reviewed: Dev, Topic: Architecture

#227 refactor(google map): refactoring components
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Gmap/Gmap.js
  packages/react-ui-core/src/Gmap/GmapBase.js
  packages/react-ui-core/src/Gmap/GmapContext.js
  packages/react-ui-core/src/Gmap/GmapInteraction.js
  packages/react-ui-core/src/Gmap/GmapSpinner.js
  packages/react-ui-core/src/Gmap/Marker.js
  packages/react-ui-core/src/Gmap/__tests__/Gmap-test.js
  packages/react-ui-core/src/Gmap/__tests__/GmapBase-test.js
  packages/react-ui-core/src/Gmap/__tests__/GmapSpinner-test.js
  packages/react-ui-core/src/Gmap/__tests__/Marker-test.js
  packages/react-ui-core/src/Gmap/__tests__/__snapshots__/Gmap-test.js.snap
  packages/react-ui-core/src/Gmap/index.js
  packages/react-ui-core/src/index.js
  packages/react-ui-core/test/shim.js
  stories/ag/index.js
  stories/core/Gmap.js
  stories/core/Marker.js
  stories/core/index.js
  stories/theme/core/Gmap.css
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#229 chore(google map): fixing storybook marker
  stories/core/Gmap.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map

#230 fix(ListingCarousel): stops wrong listing cell from being activated o…
  package.json
  packages/react-ui-ag/package.json
  packages/react-ui-ag/src/Carousels/ListingCarousel.js
  packages/react-ui-ag/src/Carousels/__tests__/ListingCarousel-test.js
  packages/react-ui-core/package.json
  packages/react-ui-rent/package.json
  packages/react-ui-rentals/package.json
  packages/react-ui-tracking/package.json
  yarn.lock
Labels: PR: In Review, Review: Dev, Topic: Carousel, Vault: react-ui-ag

#232 Modify should component update
  packages/react-ui-ag/src/Listings/MobileMapListing.js
Labels: PR: In Review, Review: Dev, Topic: ListCell, Vault: react-ui-ag

#236 fix(google map): ssr map loading broken
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Gmap/withGoogleScript.js
Labels: PR: In Review, Review: Dev, Topic: Map, Vault: react-ui-core

#238 feat(google map): update map zoom and center on prop change
  packages/react-ui-core/src/Gmap/Gmap.js
  packages/react-ui-core/src/Gmap/__tests__/Gmap-test.js
Labels: Reviewed: Dev, Topic: Map, Vault: react-ui-core

#231 created Listing components for both Desktop and Mobile
  packages/react-ui-ag/src/Listings/DesktopListing.js
  packages/react-ui-ag/src/Listings/DesktopListingInfo.js
  packages/react-ui-ag/src/Listings/Listing.js
  packages/react-ui-ag/src/Listings/MobileListing.js
  packages/react-ui-ag/src/Listings/MobileListingInfo.js
  packages/react-ui-ag/src/Listings/SingleFamilyDesktopListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileListing.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopListingInfo-test.js
  packages/react-ui-ag/src/Listings/__tests__/Listing-test.js
  packages/react-ui-ag/src/Listings/__tests__/MobileListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/MobileListingInfo-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyDesktopListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyMobileListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/mocks/theme.js
  packages/react-ui-ag/src/Listings/index.js
  packages/react-ui-ag/src/index.js
  stories/ag/Listings/DesktopListing.js
  stories/ag/Listings/MobileListing.js
  stories/ag/Listings/index.js
  stories/ag/index.js
  stories/theme/ag/large/Banner.css
  stories/theme/ag/large/Listings/DesktopListing.css
  stories/theme/ag/large/Listings/Listing.css
  stories/theme/ag/large/Listings/index.js
  stories/theme/ag/large/index.js
  stories/theme/ag/small/MobileListing.css
  stories/theme/ag/small/index.js
Labels: Reviewed: Dev, Topic: Listing, Topic: Storybook, Vault: react-ui-ag

#242 refactor(react-ui-core/Gmap): fixing call for deep functions, adding …
  packages/react-ui-core/src/Gmap/GmapInteraction.js
  packages/react-ui-core/src/Gmap/__tests__/GmapInteraction-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#248 fix(@react-ui-core): upgrading Mapbox version
  packages/react-ui-core/package.json
Labels: PR: RTM, Reviewed: Dev

#247 Fix themed listing bug
  packages/react-ui-ag/src/Listings/DesktopListing.js
  packages/react-ui-ag/src/Listings/DesktopListingInfo.js
  packages/react-ui-ag/src/Listings/Listing.js
  packages/react-ui-ag/src/Listings/MobileListing.js
  packages/react-ui-ag/src/Listings/MobileListingInfo.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopListingInfo-test.js
  packages/react-ui-ag/src/Listings/__tests__/MobileListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/MobileListingInfo-test.js
  packages/react-ui-ag/src/Listings/index.js
Labels: Review: Dev, Topic: Listing, Vault: react-ui-ag

#251 fix(google maps): swap lat/lng to match geojson spec; efficiency tweaks
  packages/react-ui-core/src/Gmap/Gmap.js
  packages/react-ui-core/src/Gmap/Markers.js
  packages/react-ui-core/src/Gmap/__tests__/Markers-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#255 Fix invalid use of `String.prototype.replace()`
  packages/react-ui-utils/package.json
  packages/react-ui-utils/src/__tests__/randomId-test.js
  packages/react-ui-utils/src/randomId.js
Labels: PR: RTM, Reviewed: Dev, Topic: Architecture, Vault: react-ui-core

#245 Adds a Layer component for showing geojson
  packages/react-ui-core/src/Gmap/Gmap.js
  packages/react-ui-core/src/Gmap/Layer.js
  packages/react-ui-core/src/Gmap/__tests__/Layer-test.js
  packages/react-ui-core/test/shim.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map

#254 feat(google maps): add Google Maps InfoWindow and OverlayView popups
  packages/react-ui-core/src/Gmap/InfoWindow.js
  packages/react-ui-core/src/Gmap/OverlayView.js
  packages/react-ui-core/src/Gmap/__tests__/GmapInteraction-test.js
  packages/react-ui-core/src/Gmap/__tests__/InfoWindow-test.js
  packages/react-ui-core/src/Gmap/__tests__/OverlayView-test.js
  packages/react-ui-core/src/Gmap/index.js
  packages/react-ui-core/src/Gmap/utils/__tests__/markerHelpers-test.js
  packages/react-ui-core/src/index.js
  packages/react-ui-core/test/shim.js
  stories/core/Gmap.js
  stories/core/InfoWindow.js
  stories/core/Marker.js
  stories/core/OverlayView.js
  stories/core/index.js
  stories/dummyData/geojson.json
  stories/theme/core/Gmap.css
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#258 fix(react-ui-ag): add PropertyName object to DesktopListing
  packages/react-ui-ag/src/Listings/DesktopListing.js
Labels: Reviewed: Dev

#262 Export Layer component, filter Gmap children
  packages/react-ui-core/src/Gmap/Gmap.js
  packages/react-ui-core/src/Gmap/index.js
  packages/react-ui-core/src/index.js
Labels: PR: In Review, Review: Dev, Topic: Map
