Repository rentpath/react-ui, pull requests merged in 2018-02, with the labels that each got.

#171 feat(Hybrid Map): add classname for mobile map listing for active and inactive
  packages/react-ui-ag/CHANGELOG.md
  packages/react-ui-ag/package.json
  packages/react-ui-ag/src/Carousels/ListingCarousel.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyMobileMapListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/mocks/theme.js
  packages/react-ui-core/CHANGELOG.md
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Button/ToggleButton.js
  packages/react-ui-core/src/Button/__tests__/ToggleButton-test.js
  packages/react-ui-core/src/Listing/ListingCell.js
  packages/react-ui-core/src/Listing/__tests__/ListingCell-test.js
  packages/react-ui-rent/CHANGELOG.md
  packages/react-ui-rent/package.json
  packages/react-ui-rentals/CHANGELOG.md
  packages/react-ui-rentals/package.json
  stories/ag/Carousels/ListingCarousel.js
  stories/ag/Listings/MobileMapListing.js
  stories/ag/index.js
  stories/core/ListingCell.js
  stories/theme/ag/small/MobileMapListing.css
Labels: Review: Dev, Topic: Button, Vault: react-ui-ag

#173 fix(Hybrid Map): allow isFavorited to be passed and used by MobileMap Listing
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyMobileMapListing-test.js
  stories/ag/Carousels/ListingCarousel.js
  stories/ag/Listings/MobileMapListing.js
Labels: Reviewed: Dev, Vault: react-ui-ag

#176 refactor(react-ui-core): change drawer's animation to use translateY
  packages/react-ui-core/src/Drawer/Drawer.js
  packages/react-ui-core/src/Drawer/__tests__/Drawer-tests.js
  stories/core/Drawer.js
  stories/theme/core/Drawer.css
Labels: Reviewed: Dev, Type: Enhancement

#178 fix(react-ui-ag): render an empty div instead of ratings if no rating…
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  stories/ag/Carousels/ListingCarousel.js
  stories/theme/ag/small/MobileMapListing.css
Labels: PR: In Review, Review: Dev, Type: Enhancement, Vault: react-ui-ag

#179 fix(Hybrid Map): passed in Listing object to onClick props
  packages/react-ui-ag/src/Carousels/ListingCarousel.js
  packages/react-ui-ag/src/Carousels/__tests__/ListingCarousel-test.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  packages/react-ui-core/src/Listing/ListingCell.js
  packages/react-ui-core/src/Listing/__tests__/ListingCell-test.js
  stories/ag/Carousels/ListingCarousel.js
Labels: PR: RTM, Reviewed: Dev, Topic: Carousel, Topic: ListCell, Type: Bug

#180 fix(Hybrid Map): added phoneNumber to listing to render Phone CTA Button
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-core/src/Button/Button.js
Labels: PR: In Review, Review: Dev, Topic: Button, Topic: ListCell, Type: Bug

#183 Edit photo carousel to accept data tags
  packages/react-ui-core/src/Carousel/PhotoCarousel.js
  packages/react-ui-core/src/Carousel/__tests__/PhotoCarousel-test.js
Labels: Reviewed: Dev, Topic: Carousel, Type: Enhancement

#184 Ya/destructure on click
  packages/react-ui-core/src/Drawer/Drawer.js
Labels: Reviewed: Dev

#185 fix(Hybrid Map): favorite button and navigation click propagation bug…
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-core/src/Button/ToggleButton.js
  packages/react-ui-core/src/Listing/ListingCell.js
  stories/ag/Listings/MobileMapListing.js
Labels: PR: In Review, Review: Dev, Topic: Carousel, Topic: ListCell, Type: Bug

#187 fix(react-ui-ag): give ListingCarousel onSlide to arguments: listing …
  packages/react-ui-ag/src/Carousels/ListingCarousel.js
Labels: PR: In Review, Review: Dev, Type: Bug, Vault: react-ui-ag

#191 577743353 Add allowUnselect flag to RadioGroup
  packages/react-ui-core/src/Form/RadioGroup.js
  packages/react-ui-core/src/Form/__tests__/RadioGroup-test.js
  stories/core/RadioGroup.js
  stories/core/index.js
Labels: PR: RTM, Reviewed: Dev, Topic: Form

#162 chore(travis): force push gh-pages on master build
  .travis.yml
Labels: PR: In Review, Review: Dev, Topic: Architecture

#192 feat(Desktop Hybrid Map): create DropdownMenu component
  packages/react-ui-core/src/Dropdown/Dropdown.js
  packages/react-ui-core/src/Menu/DropdownMenu.js
  packages/react-ui-core/src/Menu/Menu.js
  packages/react-ui-core/src/Menu/MenuWrapper.js
  packages/react-ui-core/src/Menu/__tests__/DropdownMenu-test.js
  packages/react-ui-core/src/Menu/__tests__/Menu-test.js
  packages/react-ui-core/src/Menu/__tests__/MenuWrapper-test.js
  packages/react-ui-core/src/Menu/index.js
  packages/react-ui-core/src/index.js
  stories/core/Menu.js
  stories/core/index.js
  stories/theme/core/DropdownMenu.css
  stories/theme/core/index.js
Labels: PR: In Review, Topic: Menu

#194 fix(Desktop Hybrid Map): a few minor prop related fixes for DesktopMapPinListing
  packages/react-ui-ag/src/Listings/DesktopMapPinListing.js
  packages/react-ui-core/src/Listing/ListingComponents.js
  stories/ag/Listings/DesktopMapPinListing.js
Labels: Reviewed: Dev, Vault: react-ui-ag

#195 fix(ListingCell, Drawer, MobileMapListing, HybridMobileMap): react-ui…
  packages/react-ui-ag/src/Carousels/ListingCarousel.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileMapListing.js
  packages/react-ui-core/src/Drawer/Drawer.js
Labels: Reviewed: Dev, Topic: Carousel, Vault: react-ui-ag

#197 feat(Desktop Hybrid Map): create GridViewHeader component
  packages/react-ui-ag/src/Filters/PriceFilterDropdown.js
  packages/react-ui-ag/src/Filters/RadioGroupDropdown.js
  packages/react-ui-ag/src/GridView/GridViewHeader.js
  packages/react-ui-ag/src/GridView/__tests__/GridViewHeader-test.js
  packages/react-ui-ag/src/GridView/__tests__/mocks/theme.js
  packages/react-ui-ag/src/GridView/index.js
  packages/react-ui-ag/src/index.js
  packages/react-ui-core/src/Menu/DropdownMenu.js
  packages/react-ui-core/src/Menu/__tests__/DropdownMenu-test.js
  stories/ag/GridView/GridViewHeader.js
  stories/ag/GridView/index.js
  stories/ag/index.js
  stories/core/Menu.js
  stories/theme/ag/large/Dropdown.css
  stories/theme/ag/large/Filters/FilterDropdown.css
  stories/theme/ag/large/Filters/index.js
  stories/theme/ag/large/GridView/GridViewHeader.css
  stories/theme/ag/large/GridView/index.js
  stories/theme/ag/large/index.js
Labels: Reviewed: Dev, Vault: react-ui-ag
