Repository rentpath/react-ui, pull requests merged in 2018-09, with the labels that each got.

#393 feat(Markers): grey pins for isBasic listings
  packages/react-ui-ag/src/Gmap/Markers.js
  packages/react-ui-ag/src/Gmap/__tests__/Markers-test.js
Labels: PR: In Review, Review: Dev, Topic: Map

#397 chore(packages): upgrades to fix broken unit tests
  package.json
  packages/react-ui-ag/package.json
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Carousel/__tests__/__snapshots__/Carousel-test.js.snap
  packages/react-ui-core/src/Carousel/__tests__/__snapshots__/PhotoCarousel-test.js.snap
  packages/react-ui-core/src/Gmap/__tests__/withGoogleScript-test.js
  packages/react-ui-core/src/Modal/__tests__/ModalBody-test.js
  packages/react-ui-rent/package.json
  packages/react-ui-tracking/package.json
  packages/react-ui-utils/package.json
  yarn.lock
Labels: PR: In Review, Review: Dev, Topic: Architecture, Vault: react-ui-core

#395 feat(date-fns): upgrading package
  packages/react-ui-core/package.json
  packages/react-ui-core/src/DateInput/DateInput.js
  packages/react-ui-core/src/DateInput/__tests__/DateInput-test.js
  packages/react-ui-core/src/DateInput/index.js
  packages/react-ui-core/src/DatePicker/Calendar.js
  packages/react-ui-core/src/DatePicker/DatePicker.js
  packages/react-ui-core/src/DatePicker/__tests__/Calendar-test.js
  packages/react-ui-core/src/DatePicker/__tests__/DatePicker-test.js
  packages/react-ui-core/src/DatePicker/index.js
  packages/react-ui-core/src/Form/controls.js
  packages/react-ui-core/src/index.js
  stories/core/DatePicker.js
  stories/core/DefaultDateInput.js
  stories/core/index.js
  stories/theme/core/Calendar.scss
  stories/theme/core/index.js
  stories/theme/index.js
Labels: PR: In Review, Review: Dev, Topic: Architecture, Vault: react-ui-core

#399 fix(datepicker): adding data-tids to calendar
  packages/react-ui-core/src/DatePicker/Calendar.js
Labels: PR: RTM, Reviewed: Dev, Topic: Form, Vault: react-ui-core

#401 fix(@rentpath/react-ui-core): if the Photo component was SSR, it woul…
  packages/react-ui-core/src/Photo/Photo.js
  packages/react-ui-core/src/Photo/__tests__/Photo-test.js
Labels: PR: In Review, Review: Dev, Topic: Carousel, Topic: Listing, Vault: react-ui-core

#310 fix(react-ui-core): modalStack default export
  packages/react-ui-core/src/ModalStack/ModalStack.js
Labels: PR: RTM, Reviewed: Dev, Topic: Modal

#403 fix(OverlayView): fix race condition of container initialization
  packages/react-ui-core/src/Gmap/OverlayView.js
  packages/react-ui-core/src/Gmap/__tests__/OverlayView-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#404 refactor(modals): modal and modal stack cleanup
  .storybook/config.js
  package.json
  packages/react-ui-ag/package.json
  packages/react-ui-ag/src/Banners/__tests__/Banner-test.js
  packages/react-ui-ag/src/Gmap/__tests__/Gmap-test.js
  packages/react-ui-ag/src/Gmap/__tests__/Marker-test.js
  packages/react-ui-ag/src/Listings/DesktopListing.js
  packages/react-ui-ag/src/Listings/DesktopMapPinListing.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyDesktopListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileMapListing.js
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Filters/__tests__/RadioGroupFilterCard-test.js
  packages/react-ui-core/src/Gmap/GmapSpinner.js
  packages/react-ui-core/src/Gmap/InfoWindow.js
  packages/react-ui-core/src/Gmap/Layer.js
  packages/react-ui-core/src/Modal/Modal.js
  packages/react-ui-core/src/Modal/ModalBody.js
  packages/react-ui-core/src/Modal/Overlay.js
  packages/react-ui-core/src/Modal/__tests__/Modal-test.js
  packages/react-ui-core/src/Modal/__tests__/ModalBody-test.js
  packages/react-ui-core/src/Modal/index.js
  packages/react-ui-core/src/ModalStack/ModalStack.js
  packages/react-ui-core/src/index.js
  packages/react-ui-rent/package.json
  packages/react-ui-rentals/.babelrc
  packages/react-ui-rentals/.npmignore
  packages/react-ui-rentals/CHANGELOG.md
  packages/react-ui-rentals/package.json
  packages/react-ui-rentals/src/index.js
  packages/react-ui-rentals/test/setup.js
  packages/react-ui-rentals/test/shim.js
  packages/react-ui-tracking/package.json
  packages/react-ui-utils/package.json
  stories/rentals/index.js
  stories/rentals/stories.js
  stories/theme/rentals/base/index.js
  stories/theme/rentals/index.js
  stories/theme/rentals/large/index.js
  stories/theme/rentals/small/index.js
  yarn.lock
Labels: PR: In Review, Review: Dev, Topic: Modal, Vault: react-ui-core
