Repository rentpath/react-ui, pull requests merged in 2018-10, with the labels that each got.

#406 Use setState callback to ensure state despite asynchrony
  packages/react-ui-core/src/Dropdown/Dropdown.js
Labels: Review: Dev, Vault: react-ui-core

#408 feat(Markers): add ability to specify scale of marker icons
  packages/react-ui-ag/src/Gmap/Markers.js
  packages/react-ui-ag/src/Gmap/__tests__/Markers-test.js
  packages/react-ui-ag/src/Gmap/markerIcons.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-ag

#409 fix(modal): add data-tid to modal close button
  packages/react-ui-core/src/Modal/Modal.js
  packages/react-ui-core/src/Modal/ModalCloseButton.js
  packages/react-ui-core/src/Modal/__tests__/__snapshots__/ModalCloseButton-test.js.snap
Labels: PR: RTM, Reviewed: Dev, Topic: Modal, Vault: react-ui-core

#411 fix(Dropdown): add conditional CSS className for Dropdown
  packages/react-ui-core/src/Dropdown/Dropdown.js
Labels: PR: In Review, Review: Dev, Topic: Architecture, Vault: react-ui-core

#412 feat(Markers): zIndex aptguide map pins above other pins
  packages/react-ui-ag/src/Gmap/Markers.js
  packages/react-ui-ag/src/Gmap/__tests__/Markers-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-ag

#414 feat(es): adding es modules to package
  .eslintignore
  .gitignore
  packages/react-ui-ag/.babelrc
  packages/react-ui-ag/package.json
  packages/react-ui-ag/src/Listings/__tests__/Listing-test.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyDesktopListing-test.js
  packages/react-ui-core/.babelrc
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Form/index.js
  packages/react-ui-rent/.babelrc
  packages/react-ui-rent/package.json
Labels: PR: In Review, Review: Dev, Topic: Architecture

#415 fix(photo): ssr missing img tag
  packages/react-ui-core/src/Photo/Photo.js
  packages/react-ui-core/src/Photo/__tests__/Photo-test.js
Labels: PR: In Review, Review: Dev, Topic: Photo, Vault: react-ui-core

#417 chore(es): all repos to include es modules
  packages/react-ui-ag/package.json
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Form/validateField.js
  packages/react-ui-core/src/Gmap/utils/__tests__/getDisplayName-test.js
  packages/react-ui-core/src/Gmap/utils/getDisplayName.js
  packages/react-ui-core/src/Gmap/withGoogleScript.js
  packages/react-ui-rent/package.json
  packages/react-ui-tracking/.babelrc
  packages/react-ui-tracking/package.json
  packages/react-ui-utils/.babelrc
  packages/react-ui-utils/package.json
  packages/react-ui-utils/src/__tests__/componentName-test.js
  packages/react-ui-utils/src/componentName.js
  packages/react-ui-utils/src/index.js
Labels: PR: RTM, Reviewed: Dev, Topic: Architecture

#418 refactor(react-ui-ag): the EmailModal component is no longer used in …
  packages/react-ui-ag/src/Modals/EmailModal.js
  packages/react-ui-ag/src/Modals/__tests__/EmailModal-test.js
  packages/react-ui-ag/src/Modals/__tests__/mocks/theme.js
  packages/react-ui-ag/src/Modals/index.js
  packages/react-ui-ag/src/index.js
  stories/ag/Modals/EmailModal.js
  stories/ag/Modals/index.js
  stories/ag/index.js
  stories/theme/ag/large/Modals/EmailModal.css
  stories/theme/ag/large/Modals/index.js
  stories/theme/ag/large/index.js
Labels: PR: In Review, Review: Dev, Topic: Modal, Vault: react-ui-ag

#419 fix(es): modules fail on ie11
  packages/react-ui-ag/.babelrc
  packages/react-ui-ag/package.json
  packages/react-ui-core/.babelrc
  packages/react-ui-core/package.json
  packages/react-ui-rent/.babelrc
  packages/react-ui-rent/package.json
  packages/react-ui-tracking/.babelrc
  packages/react-ui-tracking/package.json
  packages/react-ui-utils/.babelrc
  packages/react-ui-utils/package.json
Labels: Reviewed: Dev, Topic: Architecture
