Repository rentpath/react-ui, pull requests merged in 2018-07, with the labels that each got.

#338 Remove slideToIndex
  packages/react-ui-core/src/Carousel/Carousel.js
Labels: PR: In Review, Reviewed: Dev, Topic: Carousel, Vault: react-ui-core

#334 Bs/668249505/free draw core component
  packages/react-ui-ag/src/Listings/MobileListing.js
  packages/react-ui-core/src/Gmap/FreeDrawLayer.js
  packages/react-ui-core/src/Gmap/Gmap.js
  packages/react-ui-core/src/Gmap/__tests__/FreeDrawLayer-test.js
  packages/react-ui-core/src/Gmap/index.js
  packages/react-ui-core/src/Gmap/utils/__tests__/mapEventHelpers-test.js
  packages/react-ui-core/src/Gmap/utils/const.js
  packages/react-ui-core/src/Gmap/utils/mapEventHelpers.js
  packages/react-ui-core/src/index.js
  packages/react-ui-core/test/google-maps-mock.js
  packages/react-ui-core/test/shim.js
  stories/core/Gmap.js
  stories/core/index.js
  stories/theme/core/Gmap.css
Labels: PR: In Review, Review: Dev, Topic: Map, Vault: react-ui-core

#337 Bs/650974736/free draw controls
  packages/react-ui-core/src/Gmap/FreeDrawBanner.js
  packages/react-ui-core/src/Gmap/FreeDrawLayer.js
  packages/react-ui-core/src/Gmap/FreeDrawTool.js
  packages/react-ui-core/src/Gmap/Gmap.js
  packages/react-ui-core/src/index.js
  stories/core/Dropdown.js
  stories/core/ExampleComponents/CustomBannerExample.js
  stories/core/ExampleComponents/CustomDrawToolExample.js
  stories/core/ExampleComponents/DropdownButtonExample.js
  stories/core/ExampleComponents/DropdownInputExample.js
  stories/core/ExampleComponents/DynamicDropdownExample.js
  stories/core/ExampleComponents/FreeDrawExample.js
  stories/core/ExampleComponents/index.js
  stories/core/Gmap.js
  stories/core/index.js
  stories/theme/core/Gmap.css
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#340 feat(Inline Filters): move Inline Filters to react-ui-core
  packages/react-ui-ag/src/Buttons/index.js
  packages/react-ui-ag/src/Filters/PriceFilterDropdown.js
  packages/react-ui-ag/src/Filters/RadioGroupDropdown.js
  packages/react-ui-ag/src/Filters/__tests__/DropdownFilterCardWrapper-test.js
  packages/react-ui-ag/src/Filters/__tests__/PriceFilterDropdown-test.js
  packages/react-ui-ag/src/Filters/index.js
  packages/react-ui-ag/src/index.js
  packages/react-ui-core/src/Button/ApplyButton.js
  packages/react-ui-core/src/Button/CancelButton.js
  packages/react-ui-core/src/Button/__tests__/ApplyButton-tests.js
  packages/react-ui-core/src/Button/__tests__/CancelButton-tests.js
  packages/react-ui-core/src/Button/index.js
  packages/react-ui-core/src/Filters/FilterCard.js
  packages/react-ui-core/src/Filters/PriceFilterCard.js
  packages/react-ui-core/src/Filters/RadioGroupFilterCard.js
  packages/react-ui-core/src/Filters/__tests__/FilterCard-test.js
  packages/react-ui-core/src/Filters/__tests__/PriceFilterCard-test.js
  packages/react-ui-core/src/Filters/__tests__/RadioGroupFilterCard-test.js
  packages/react-ui-core/src/Filters/__tests__/mocks/theme.js
  packages/react-ui-core/src/Filters/index.js
  packages/react-ui-core/src/index.js
  stories/ag/Filters/index.js
  stories/ag/index.js
  stories/core/Filters/FilterCard.js
  stories/core/Filters/PriceFilterCard.js
  stories/core/Filters/RadioGroupFilterCard.js
  stories/core/Filters/index.js
  stories/core/index.js
  stories/theme/core/Buttons/ApplyButton.css
  stories/theme/core/Buttons/CancelButton.css
  stories/theme/core/Buttons/index.js
  stories/theme/core/Card.css
  stories/theme/core/Field.css
  stories/theme/core/Filters/index.js
  stories/theme/core/Filters/large/BathroomFilterCard.css
  stories/theme/core/Filters/large/FilterCard.css
  stories/theme/core/Filters/large/PetFilterCard.css
  stories/theme/core/Filters/large/PriceFilterCard.css
  stories/theme/core/Filters/large/index.js
  stories/theme/core/Filters/small/BathroomFilterCard.css
  stories/theme/core/Filters/small/BedroomFilterCard.css
  stories/theme/core/Filters/small/FilterCard.css
  stories/theme/core/Filters/small/PetFilterCard.css
  stories/theme/core/Filters/small/PriceFilterCard.css
  stories/theme/core/Filters/small/RatingFilterCard.css
  stories/theme/core/Filters/small/index.js
  stories/theme/core/RadioButton.css
  stories/theme/core/RadioGroup.css
  stories/theme/core/index.js
Labels: Review: Dev, Topic: Filters, Vault: react-ui-ag, Vault: react-ui-core

#345 Export banner and draw tool appropriately
  packages/react-ui-core/src/Gmap/index.js
  packages/react-ui-core/src/index.js
Labels: Reviewed: Dev, Topic: Map, Vault: react-ui-core

#339 refactor(gmap): fixing mock
  packages/react-ui-core/src/Gmap/__tests__/FreeDrawLayer-test.js
  packages/react-ui-core/src/Gmap/__tests__/__snapshots__/Gmap-test.js.snap
  packages/react-ui-core/test/google-maps-mock.js
  packages/react-ui-core/test/shim.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#330 feat(photos): adding photo component
  package.json
  packages/react-ui-ag/package.json
  packages/react-ui-ag/src/Carousels/ListingCarousel.js
  packages/react-ui-ag/src/Carousels/__tests__/ListingCarousel-test.js
  packages/react-ui-ag/src/Carousels/__tests__/__snapshots__/ListingCarousel-test.js.snap
  packages/react-ui-ag/src/Carousels/__tests__/mocks/theme.js
  packages/react-ui-ag/src/Carousels/index.js
  packages/react-ui-ag/src/index.js
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Card/__tests__/Card-test.js
  packages/react-ui-core/src/Card/__tests__/__snapshots__/Card-test.js.snap
  packages/react-ui-core/src/Carousel/CarouselNavigation.js
  packages/react-ui-core/src/Carousel/PhotoCarousel.js
  packages/react-ui-core/src/Carousel/__tests__/__snapshots__/Carousel-test.js.snap
  packages/react-ui-core/src/Carousel/__tests__/__snapshots__/CarouselNavigation-test.js.snap
  packages/react-ui-core/src/Photo/BackgroundPhoto.js
  packages/react-ui-core/src/Photo/Photo.js
  packages/react-ui-core/src/Photo/__tests__/BackgroundPhoto-test.js
  packages/react-ui-core/src/Photo/__tests__/Photo-test.js
  packages/react-ui-core/src/Photo/__tests__/__snapshots__/BackgroundPhoto-test.js.snap
  packages/react-ui-core/src/Photo/__tests__/__snapshots__/Photo-test.js.snap
  packages/react-ui-core/src/Photo/index.js
  packages/react-ui-core/src/index.js
  packages/react-ui-rent/package.json
  packages/react-ui-tracking/package.json
  packages/react-ui-utils/package.json
  stories/ag/Carousels/ListingCarousel.js
  stories/ag/Carousels/index.js
  stories/ag/index.js
  yarn.lock
Labels: PR: In Review, Review: Dev, Topic: Architecture, Vault: react-ui-core

#350 refactor(freedraw): refactor freedraw
  package.json
  packages/react-ui-core/src/Gmap/FreeDrawBanner.js
  packages/react-ui-core/src/Gmap/FreeDrawLayer.js
  packages/react-ui-core/src/Gmap/FreeDrawTool.js
  packages/react-ui-core/src/Gmap/__tests__/FreeDrawLayer-test.js
  packages/react-ui-core/src/Gmap/index.js
  packages/react-ui-core/src/index.js
  stories/core/ExampleComponents/CustomBannerExample.js
  stories/core/ExampleComponents/CustomDrawToolExample.js
  stories/core/ExampleComponents/FreeDrawExample.js
  stories/core/ExampleComponents/index.js
  stories/core/Gmap.js
  stories/core/index.js
  stories/theme/core/Gmap.css
  yarn.lock
Labels: PR: In Review, Review: Dev, Topic: Map, Vault: react-ui-core

#351 test(warnings): throw error on warning
  packages/react-ui-ag/test/setup.js
  packages/react-ui-core/test/setup.js
  packages/react-ui-rent/test/setup.js
Labels: PR: In Review, Reviewed: Dev, Topic: Unit Tests

#347 fix(photo): adding stories
  packages/react-ui-core/src/Photo/Photo.js
  stories/core/Photo.js
  stories/core/index.js
  stories/theme/Storybook.css
Labels: PR: RTM, Reviewed: Dev, Topic: Architecture, Vault: react-ui-core

#353 fix(FreeDrawLayer): disableDraw firing twice
  packages/react-ui-core/src/Gmap/FreeDrawLayer.js
  packages/react-ui-core/src/Gmap/__tests__/FreeDrawLayer-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#355 feat(core): adds Picture tag to Photo component
  packages/react-ui-core/src/Photo/Photo.js
  packages/react-ui-core/src/Photo/__tests__/Photo-test.js
  packages/react-ui-core/src/Photo/__tests__/__snapshots__/Photo-test.js.snap
  stories/core/Photo.js
  stories/core/index.js
Labels: PR: RTM, Reviewed: Dev

#363 Remove schema
  packages/react-ui-ag/src/Listings/DesktopListing.js
  packages/react-ui-ag/src/Listings/DesktopMapPinListing.js
  packages/react-ui-ag/src/Listings/MobileListing.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyDesktopListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopListing-test.js
  packages/react-ui-core/src/Listing/ListingCell.js
  packages/react-ui-core/src/Schema/Schema.js
  packages/react-ui-core/src/Schema/__tests__/Schemas-test.js
  packages/react-ui-core/src/Schema/index.js
  packages/react-ui-core/src/index.js
Labels: PR: RTM, Reviewed: Dev, Topic: Listing, Vault: react-ui-core
