Repository rentpath/react-ui, pull requests merged in 2018-06, with the labels that each got.

#316 fix(gmap): removing title from pin
  packages/react-ui-ag/src/Gmap/__tests__/Markers-test.js
  packages/react-ui-core/src/Gmap/Markers.js
  packages/react-ui-core/src/Gmap/__tests__/Markers-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map

#315 feat(react-ui-ag): Modify MobileListing and its stories, tests, theme
  packages/react-ui-ag/src/Listings/MobileListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileListing.js
  packages/react-ui-ag/src/Listings/__tests__/MobileListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyMobileListing-test.js
  packages/react-ui-ag/src/Listings/index.js
  packages/react-ui-ag/src/index.js
  stories/ag/Listings/DesktopListing.js
  stories/ag/Listings/MobileListing.js
  stories/ag/Listings/baseListing.js
  stories/ag/Listings/index.js
  stories/ag/index.js
  stories/theme/ag/small/MobileListing.css
Labels: Reviewed: Dev, Topic: ListCell, Topic: Listing, Vault: react-ui-ag

#320 Add onPhotoCarouselSlide prop
  packages/react-ui-ag/src/Listings/Listing.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
Labels: PR: RTM, Reviewed: Dev, Vault: react-ui-ag

#324 feat(listing): move property name up
  packages/react-ui-ag/src/Listings/DesktopListing.js
Labels: Topic: Listing, Vault: react-ui-ag

#323 refactor MobileListing component to allow for modifications
  packages/react-ui-ag/src/Listings/Listing.js
  packages/react-ui-ag/src/Listings/MobileListing.js
Labels: PR: In Review, PR: RTM, Reviewed: Dev, Topic: Listing, Vault: react-ui-ag

#322 feat(gmap): layer grey markers under red markers
  packages/react-ui-ag/src/Gmap/Markers.js
  packages/react-ui-ag/src/Gmap/__tests__/Markers-test.js
Labels: Reviewed: Dev, Topic: Map

#328 feat(react-ui-ag & react-ui-core): reset carousel to initial index if…
  packages/react-ui-ag/src/Listings/MobileListing.js
  packages/react-ui-core/src/Carousel/Carousel.js
Labels: PR: RTM, Reviewed: Dev, Topic: Listing, Vault: react-ui-ag, Vault: react-ui-core

#331 fix(@rentpath/react-ui-ag): Pass renderCustomControls through Listing
  packages/react-ui-ag/src/Listings/Listing.js
Labels: PR: In Review, Reviewed: Dev, Topic: Carousel, Vault: react-ui-ag

#332 Allow MobileMapListing to display text on no match
  packages/react-ui-ag/src/Listings/Listing.js
  packages/react-ui-ag/src/Listings/MobileListing.js
  stories/theme/ag/small/MobileListing.css
Labels: PR: RTM, Reviewed: Dev, Topic: Carousel, Topic: ListCell, Topic: Listing, Vault: react-ui-ag
