Repository rentpath/react-ui, pull requests merged in 2018-05, with the labels that each got.

#263 fix(ListingCell): Allow rerender on classname change
  packages/react-ui-core/src/Listing/ListingCell.js
Labels: PR: In Review, Reviewed: Dev, Topic: ListCell, Vault: react-ui-core

#265 feat(google maps): add option to prevent bubbling events on overlay view
  packages/react-ui-core/src/Gmap/OverlayView.js
Labels: PR: In Review, Review: Dev, Topic: Map, Vault: react-ui-core

#270 fix(mapbox): reverting mapbox due to crashing
  packages/react-ui-core/package.json
Labels: PR: In Review, Review: Dev, Topic: Map, Vault: react-ui-core

#273 fix(google map): clear marker on update
  packages/react-ui-ag/src/Gmap/Marker.js
  packages/react-ui-ag/src/Gmap/Markers.js
  packages/react-ui-ag/src/Gmap/PdpMap.js
  packages/react-ui-ag/src/Gmap/__tests__/Marker-test.js
  packages/react-ui-ag/src/Gmap/__tests__/PdpMap-test.js
  packages/react-ui-ag/src/Gmap/index.js
  packages/react-ui-ag/src/Gmap/markerIcons.js
  packages/react-ui-ag/src/index.js
  packages/react-ui-core/src/Gmap/Marker.js
  packages/react-ui-core/src/Gmap/__tests__/Marker-test.js
  packages/react-ui-core/test/shim.js
  stories/ag/Gmap/Gmap.js
  stories/ag/Gmap/index.js
  stories/ag/index.js
Labels: PR: In Review, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#276 fix(google maps): single marker needs map check
  packages/react-ui-ag/src/Gmap/Marker.js
  packages/react-ui-ag/src/Gmap/Markers.js
  packages/react-ui-ag/src/Gmap/PdpMap.js
  packages/react-ui-ag/src/Gmap/__tests__/Markers-test.js
  packages/react-ui-ag/src/Gmap/index.js
  packages/react-ui-ag/src/Gmap/markerIcons.js
  packages/react-ui-ag/src/index.js
  packages/react-ui-core/src/Gmap/GmapSpinner.js
  packages/react-ui-core/src/Gmap/Marker.js
  packages/react-ui-core/src/Gmap/__tests__/GmapSpinner-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#268 simplify ratings bar implementation
  packages/react-ui-ag/src/Carousels/__tests__/ListingCarousel-test.js
  packages/react-ui-ag/src/Carousels/__tests__/__snapshots__/ListingCarousel-test.js.snap
  packages/react-ui-ag/src/Listings/__tests__/DesktopListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopMapPinListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/Listing-test.js
  packages/react-ui-ag/src/Listings/__tests__/MobileListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyDesktopListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyMobileListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/mocks/theme.js
  packages/react-ui-core/src/Ratings/LinearGradient.js
  packages/react-ui-core/src/Ratings/RatingBar.js
  packages/react-ui-core/src/Ratings/Star.js
  packages/react-ui-core/src/Ratings/__tests__/RatingBar-test.js
  packages/react-ui-core/src/Ratings/__tests__/Star-test.js
  packages/react-ui-core/src/Ratings/__tests__/__snapshots__/RatingBar-test.js.snap
  packages/react-ui-core/src/Ratings/__tests__/mocks/theme.js
  packages/react-ui-core/src/Ratings/index.js
  packages/react-ui-core/src/index.js
  stories/ag/Carousels/ListingCarousel.js
  stories/ag/Listings/DesktopListing.js
  stories/ag/Listings/DesktopMapPinListing.js
  stories/ag/Listings/MobileListing.js
  stories/ag/Listings/MobileMapListing.js
  stories/core/ListingCell.js
  stories/core/RatingBar.js
  stories/core/SampleRatingItem/Circle.js
  stories/core/SampleRatingItem/Square.js
  stories/core/SampleRatingItem/index.js
  stories/core/index.js
  stories/theme/core/RatingBar.css
Labels: PR: RTM, Reviewed: Dev, Topic: Ratings

#279 fix(react-ui-ag): export Marker in react-ui-ag's index
  packages/react-ui-ag/src/index.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-ag

#282 feat(google maps): add data layer events to Layer component
  packages/react-ui-core/src/Gmap/Layer.js
  packages/react-ui-core/src/Gmap/__tests__/Layer-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#284 fix(google maps): check for valid projection from Google Maps API
  packages/react-ui-core/src/Gmap/OverlayView.js
Labels: Reviewed: Dev, Topic: Map, Vault: react-ui-core

#281 fix(google map): lower anchor of selected icon
  packages/react-ui-ag/src/Gmap/markerIcons.js
  stories/ag/Gmap/Gmap.js
  stories/ag/Gmap/index.js
  stories/ag/index.js
Labels: PR: In Review, Review: Dev, Topic: Map, Vault: react-ui-ag

#285 fix(google maps): loader race condition
  packages/react-ui-core/src/Gmap/__tests__/__snapshots__/withGoogleScript-test.js.snap
  packages/react-ui-core/src/Gmap/__tests__/withGoogleScript-test.js
  packages/react-ui-core/src/Gmap/withGoogleScript.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#287 feat(google maps): add min and max zoom prop
  packages/react-ui-core/src/Gmap/Gmap.js
  packages/react-ui-core/src/Gmap/__tests__/Gmap-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#289 fix(google maps): switch to CustomEvent, so polyfill on IE11 will work
  packages/react-ui-core/src/Gmap/withGoogleScript.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#294 feat(mapbox): removal of mapbox
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Mapbox/MapLayer.js
  packages/react-ui-core/src/Mapbox/MapLayerInteractions.js
  packages/react-ui-core/src/Mapbox/MapSource.js
  packages/react-ui-core/src/Mapbox/Mapbox.js
  packages/react-ui-core/src/Mapbox/__tests__/MapLayer-test.js
  packages/react-ui-core/src/Mapbox/__tests__/MapSource-test.js
  packages/react-ui-core/src/Mapbox/__tests__/Mapbox-test.js
  packages/react-ui-core/src/Mapbox/index.js
  packages/react-ui-core/src/index.js
  stories/core/Mapbox.js
  stories/core/index.js
  stories/theme/core/Mapbox.css
  stories/theme/core/index.js
  stories/theme/index.js
  stories/theme/mapbox-gl.global.css
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#295 chore(versioning): fixing broken versioning
  packages/react-ui-ag/package.json
  packages/react-ui-rent/package.json
  packages/react-ui-rentals/package.json
Labels: PR: In Review, Review: Dev, Topic: Architecture

#297 fix(Broaden event blacklist for overlay): fixes issue where ipad taps…
  packages/react-ui-core/src/Gmap/OverlayView.js
  packages/react-ui-core/src/Gmap/__tests__/OverlayView-test.js
  packages/react-ui-core/src/Gmap/__tests__/__snapshots__/OverlayView-test.js.snap
Labels: Reviewed: Dev

#283 feat(react-ui-ag): add structured data for all listings
  packages/react-ui-ag/src/Carousels/__tests__/ListingCarousel-test.js
  packages/react-ui-ag/src/Carousels/__tests__/__snapshots__/ListingCarousel-test.js.snap
  packages/react-ui-ag/src/Listings/DesktopListing.js
  packages/react-ui-ag/src/Listings/DesktopMapPinListing.js
  packages/react-ui-ag/src/Listings/Listing.js
  packages/react-ui-ag/src/Listings/MobileListing.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyDesktopListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopListing-test.js
  packages/react-ui-core/src/Listing/ListingCell.js
  packages/react-ui-core/src/Schema/Schema.js
  packages/react-ui-core/src/Schema/__tests__/Schemas-test.js
  packages/react-ui-core/src/Schema/index.js
  packages/react-ui-core/src/index.js
  stories/ag/Listings/DesktopListing.js
  stories/ag/Listings/MobileListing.js
  stories/ag/Listings/MobileMapListing.js
  stories/theme/ag/large/Listings/Listing.css
  stories/theme/ag/small/MobileListing.css
Labels: Reviewed: Dev, Topic: ListCell, Topic: Listing, Vault: react-ui-ag, Vault: react-ui-core

#301 fix(react-ui-ag): add scaledSize to marker icons to support ie11
  packages/react-ui-ag/src/Gmap/markerIcons.js
Labels: PR: In Review, Review: Dev, Topic: Map, Vault: react-ui-ag

#300 ModalStack port to react-ui
  packages/react-ui-ag/src/Listings/__tests__/DesktopListing-test.js
  packages/react-ui-core/src/Modal/Overlay.js
  packages/react-ui-core/src/ModalStack/ModalStack.js
  packages/react-ui-core/src/ModalStack/__tests__/ModalStack-test.js
  packages/react-ui-core/src/ModalStack/__tests__/__snapshots__/ModalStack-test.js.snap
  packages/react-ui-core/src/ModalStack/index.js
  packages/react-ui-core/src/index.js
Labels: PR: RTM, Reviewed: Dev

#309 fix(react-image-gallery): true lazy loading
  packages/react-ui-core/package.json
Labels: PR: RTM, Reviewed: Dev, Topic: Carousel, Vault: react-ui-core
