Repository rentpath/react-ui, pull requests merged in 2018-03, with the labels that each got.

#198 feat(Hybrid Map): Enable Lazyloading in MobileMapListing
  package.json
  packages/react-ui-ag/src/Carousels/__tests__/ListingCarousel-test.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyMobileMapListing-test.js
  packages/react-ui-core/src/Carousel/PhotoCarousel.js
  packages/react-ui-core/src/Carousel/__tests__/Carousel-test.js
  stories/ag/Carousels/ListingCarousel.js
  stories/core/Carousel.js
Labels: PR: In Review, Review: Dev, Topic: Carousel, Topic: Listing, Vault: react-ui-ag, Vault: react-ui-core

#203 feat(Hybrid Map): Enable LazyLoading to MobileMapListing Photos
  package.json
  packages/react-ui-ag/src/Carousels/__tests__/ListingCarousel-test.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyMobileMapListing-test.js
  packages/react-ui-core/src/Carousel/PhotoCarousel.js
  packages/react-ui-core/src/Carousel/__tests__/Carousel-test.js
  stories/ag/Carousels/ListingCarousel.js
  stories/core/Carousel.js
Labels: PR: RTM, Reviewed: Dev, Topic: Carousel, Topic: Listing, Vault: react-ui-ag, Vault: react-ui-core

#200 fix(Desktop Hybrid Map): support selected class to ListItem, List, Menu, and DropdownMenu
  packages/react-ui-core/src/List/List.js
  packages/react-ui-core/src/List/ListItem.js
  packages/react-ui-core/src/List/__tests__/List-test.js
  packages/react-ui-core/src/List/__tests__/ListItem-test.js
  packages/react-ui-core/src/List/__tests__/mocks/theme.js
  packages/react-ui-core/src/Menu/DropdownMenu.js
  packages/react-ui-core/src/Menu/Menu.js
  packages/react-ui-core/src/Menu/__tests__/DropdownMenu-test.js
  packages/react-ui-core/src/Menu/__tests__/Menu-test.js
  stories/ag/GridView/GridViewHeader.js
  stories/theme/ag/large/GridView/GridViewHeader.css
Labels: PR: RTM, Reviewed: Dev, Topic: Menu, Vault: react-ui-core

#201 fix(react-ui-ag): shouldComponentUpdate only cares about isActive
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: ListCell, Vault: react-ui-ag

#205 feat(Hybrid Map): fixed LazyLoading forceCheck and Listing performance
  packages/react-ui-ag/src/Carousels/__tests__/__snapshots__/ListingCarousel-test.js.snap
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  packages/react-ui-core/src/Carousel/Carousel.js
  packages/react-ui-core/src/Listing/ListingComponents.js
  stories/theme/ag/small/MobileMapListing.css
Labels: PR: RTM, Reviewed: Dev, Topic: Carousel, Topic: Listing, Vault: react-ui-ag, Vault: react-ui-core

#207 Lazyloading single Photo in MobileMapListing
  packages/react-ui-ag/package.json
  packages/react-ui-ag/src/Listings/MobileMapListing.js
Labels: PR: RTM, Reviewed: Dev, Topic: ListCell, Topic: Listing, Vault: react-ui-ag

#209 feat(AutoSuggestField Menu): Fixes debounce issue and menu
  packages/react-ui-core/src/Menu/Menu.js
  packages/react-ui-core/src/Menu/__tests__/Menu-test.js
  stories/core/Menu.js
  stories/core/index.js
Labels: Reviewed: Dev, Topic: Menu, Topic: Search, Vault: react-ui-core

#212 feat(AutoSuggestField): adds onVisibilityChange prop to AutoSuggestFi…
  packages/react-ui-core/src/AutoSuggestField/AutoSuggestField.js
  packages/react-ui-core/src/AutoSuggestField/__tests__/AutoSuggestField-test.js
Labels: PR: In Review, Reviewed: Dev, Topic: Search, Vault: react-ui-core

#213 fix(AutoSuggestField): autoSuggestField changed to pass 'value' prop …
  packages/react-ui-core/src/AutoSuggestField/AutoSuggestField.js
  packages/react-ui-core/src/AutoSuggestField/__tests__/AutoSuggestField-test.js
  packages/react-ui-core/src/Dropdown/Dropdown.js
  packages/react-ui-core/src/Dropdown/__tests__/Dropdown-test.js
Labels: Reviewed: Dev, Vault: react-ui-core

#214 fix(Menu): pass properties (other than label) to Menu ListItems
  .eslintrc
  .gitignore
  packages/react-ui-core/src/Button/__tests__/ToggleButton-test.js
  packages/react-ui-core/src/List/List.js
  packages/react-ui-core/src/List/__tests__/List-test.js
  packages/react-ui-core/src/List/__tests__/__snapshots__/List-test.js.snap
  packages/react-ui-core/src/Menu/Menu.js
  packages/react-ui-core/src/Menu/__tests__/Menu-test.js
  stories/core/Menu.js
Labels: Reviewed: Dev, Topic: Menu, Vault: react-ui-core

#211 634980824 Prevent modal from closing after dragging mouse outside
  packages/react-ui-core/src/Modal/Overlay.js
  packages/react-ui-core/src/Modal/__tests__/Overlay-test.js
Labels: PR: RTM, Reviewed: Dev, Topic: Modal, Vault: react-ui-core

#218 feat(googlemap): addition of google map
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Gmap/Gmap.js
  packages/react-ui-core/src/Gmap/GmapBase.js
  packages/react-ui-core/src/Gmap/GmapSpinner.js
  packages/react-ui-core/src/Gmap/__tests__/Gmap-test.js
  packages/react-ui-core/src/Gmap/__tests__/GmapBase-test.js
  packages/react-ui-core/src/Gmap/__tests__/GmapSpinner-test.js
  packages/react-ui-core/src/Gmap/index.js
  packages/react-ui-core/src/index.js
  stories/Container.js
  stories/ag/index.js
  stories/core/Gmap.js
  stories/core/coreStories.js
  stories/core/index.js
  stories/theme/core/Gmap.css
  stories/theme/core/index.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-core

#189 chore(lock files): removing package-lock
  .gitignore
  package-lock.json
Labels: PR: RTM, Reviewed: Dev, Topic: Architecture

#217 feat(Property Link Email): create EmailModal component
  packages/react-ui-ag/src/Modals/EmailModal.js
  packages/react-ui-ag/src/Modals/__tests__/EmailModal-test.js
  packages/react-ui-ag/src/Modals/__tests__/mocks/theme.js
  packages/react-ui-ag/src/Modals/index.js
  packages/react-ui-ag/src/index.js
  packages/react-ui-core/src/Modal/Modal.js
  packages/react-ui-core/src/Modal/ModalBody.js
  packages/react-ui-core/src/Modal/Overlay.js
  packages/react-ui-core/src/Modal/__tests__/Modal-test.js
  stories/ag/Listings/DesktopMapPinListing.js
  stories/ag/Listings/MobileMapListing.js
  stories/ag/Modals/EmailModal.js
  stories/ag/Modals/index.js
  stories/ag/index.js
  stories/core/Modal.js
  stories/core/index.js
  stories/rent/Lead.js
  stories/theme/ag/base/Core/Modal.css
  stories/theme/ag/base/Core/RadioButton.css
  stories/theme/ag/base/Core/RadioGroup.css
  stories/theme/ag/base/Core/RangeSlider.css
  stories/theme/ag/base/Core/index.js
  stories/theme/ag/base/index.js
  stories/theme/ag/large/Modals/EmailModal.css
  stories/theme/ag/large/Modals/index.js
  stories/theme/ag/large/index.js
  stories/theme/core/Modal.css
  stories/theme/rent/small/LeadForm.css
Labels: PR: In Review, Reviewed: Dev, Topic: Modal, Vault: react-ui-core

#224 Fixing list when the object is a valid react element
  packages/react-ui-core/src/List/List.js
Labels: PR: RTM, Reviewed: Dev, Topic: List, Vault: react-ui-core
