Repository rentpath/react-ui, pull requests merged in 2018-08, with the labels that each got.

#365 Cloudinary updates
  packages/react-ui-ag/src/Listings/Listing.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopMapPinListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/Listing-test.js
  packages/react-ui-ag/src/Listings/__tests__/MobileListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyDesktopListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyMobileMapListing-test.js
  packages/react-ui-core/src/Carousel/PhotoCarousel.js
  packages/react-ui-core/src/Carousel/__tests__/PhotoCarousel-test.js
  packages/react-ui-core/src/Listing/ListingComponents.js
  stories/ag/Listings/DesktopListing.js
  stories/ag/Listings/DesktopMapPinListing.js
  stories/ag/Listings/MobileListing.js
  stories/ag/Listings/MobileMapListing.js
  stories/ag/Listings/baseListing.js
  stories/core/Carousel.js
  stories/core/ListingCell.js
Labels: PR: RTM, Reviewed: Dev, Topic: Listing, Vault: react-ui-ag

#361 feat(react-ui-ag): more Options Modal
  packages/react-ui-ag/src/Modals/MoreOptionsModal.js
  packages/react-ui-ag/src/Modals/__tests__/MoreOptionsModal-test.js
  packages/react-ui-ag/src/Modals/__tests__/mocks/theme.js
  packages/react-ui-ag/src/Modals/index.js
  packages/react-ui-ag/src/index.js
  stories/ag/Modals/MoreOptionsModal.js
  stories/ag/Modals/index.js
  stories/ag/index.js
  stories/theme/ag/large/Modals/MoreOptionsModal.css
  stories/theme/ag/large/Modals/index.js
  stories/theme/ag/large/index.js
Labels: PR: RTM, Reviewed: Dev, Topic: Modal, Vault: react-ui-ag

#370 feat(Form): core Form Tweaks
  packages/react-ui-core/src/Form/Checkbox.js
  packages/react-ui-core/src/Form/Email.js
  packages/react-ui-core/src/Form/FieldSet.js
  packages/react-ui-core/src/Form/Form.js
  packages/react-ui-core/src/Form/FormFields.js
  packages/react-ui-core/src/Form/Input.js
  packages/react-ui-core/src/Form/LabelHidingField.js
  packages/react-ui-core/src/Form/Message.js
  packages/react-ui-core/src/Form/MoveInDate.js
  packages/react-ui-core/src/Form/Name.js
  packages/react-ui-core/src/Form/OptInNewsLetter.js
  packages/react-ui-core/src/Form/Password.js
  packages/react-ui-core/src/Form/Phone.js
  packages/react-ui-core/src/Form/RadioButton.js
  packages/react-ui-core/src/Form/RadioGroup.js
  packages/react-ui-core/src/Form/RangeSlider.js
  packages/react-ui-core/src/Form/Select.js
  packages/react-ui-core/src/Form/TermsOfService.js
  packages/react-ui-core/src/Form/Textarea.js
  packages/react-ui-core/src/Form/__tests__/Checkbox-test.js
  packages/react-ui-core/src/Form/__tests__/Email-test.js
  packages/react-ui-core/src/Form/__tests__/LabelHidingField-test.js
  packages/react-ui-core/src/Form/__tests__/Message-test.js
  packages/react-ui-core/src/Form/__tests__/MoveInDate-test.js
  packages/react-ui-core/src/Form/__tests__/Name-test.js
  packages/react-ui-core/src/Form/__tests__/OptInNewsLetter-test.js
  packages/react-ui-core/src/Form/__tests__/Password-test.js
  packages/react-ui-core/src/Form/__tests__/Phone-test.js
  packages/react-ui-core/src/Form/__tests__/TermsOfService-test.js
  packages/react-ui-core/src/Form/__tests__/__snapshots__/TermsOfService-test.js.snap
  packages/react-ui-core/src/Form/__tests__/mocks/theme.js
  packages/react-ui-core/src/Form/__tests__/validateField-test.js
  packages/react-ui-core/src/Form/index.js
  packages/react-ui-core/src/Form/validateField.js
  packages/react-ui-core/src/LeadForm/Fields/index.js
  packages/react-ui-core/src/LeadForm/LeadForm.js
  packages/react-ui-core/src/LeadForm/index.js
  packages/react-ui-core/src/index.js
Labels: PR: RTM, Reviewed: Dev, Topic: Architecture, Topic: Form, Vault: react-ui-core

#369 ULA Text Refactor
  packages/react-ui-ag/src/Listings/DesktopListing.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/mocks/theme.js
  stories/theme/ag/large/Listings/DesktopListing.css
Labels: Reviewed: Dev, Topic: Listing, Vault: react-ui-ag

#375 fix(listing): listing theme fix
  packages/react-ui-ag/src/Listings/DesktopListing.js
  packages/react-ui-ag/src/Listings/MobileListing.js
  packages/react-ui-core/src/Photo/Photo.js
Labels: PR: In Review, Review: Dev, Topic: Listing, Vault: react-ui-ag

#378 fix(MoreOptions): replace generic button
  packages/react-ui-ag/src/Listings/__tests__/DesktopListing-test.js
  packages/react-ui-ag/src/Modals/MoreOptionsModal.js
  packages/react-ui-ag/src/Modals/__tests__/MoreOptionsModal-test.js
  packages/react-ui-core/src/Button/ApplyButton.js
  packages/react-ui-core/src/Button/CancelButton.js
  packages/react-ui-core/src/Button/__tests__/ApplyButton-tests.js
  packages/react-ui-core/src/Button/__tests__/CancelButton-tests.js
Labels: PR: RTM, Reviewed: Dev, Topic: Filters, Vault: react-ui-ag

#377 feat(form): controlled / uncontrolled fields
  packages/react-ui-core/package.json
  packages/react-ui-core/src/Form/Checkbox.js
  packages/react-ui-core/src/Form/Email.js
  packages/react-ui-core/src/Form/Field.js
  packages/react-ui-core/src/Form/Form.js
  packages/react-ui-core/src/Form/Input.js
  packages/react-ui-core/src/Form/Label.js
  packages/react-ui-core/src/Form/Name.js
  packages/react-ui-core/src/Form/OptInNewsLetter.js
  packages/react-ui-core/src/Form/Phone.js
  packages/react-ui-core/src/Form/RadioGroup.js
  packages/react-ui-core/src/Form/Select.js
  packages/react-ui-core/src/Form/__tests__/Checkbox-test.js
  packages/react-ui-core/src/Form/__tests__/Email-test.js
  packages/react-ui-core/src/Form/__tests__/Input-test.js
  packages/react-ui-core/src/Form/__tests__/Name-test.js
  packages/react-ui-core/src/Form/__tests__/Phone-test.js
  packages/react-ui-core/src/Form/__tests__/RadioGroup-test.js
  packages/react-ui-core/src/LeadForm/LeadForm.js
  packages/react-ui-core/src/LeadForm/SubmitButton.js
  stories/core/Field.js
  stories/core/index.js
Labels: PR: In Review, Reviewed: Dev, Topic: Form, Vault: react-ui-core

#380 feat(MoreOptions): added dataTids
  packages/react-ui-ag/src/Modals/MoreOptionsModal.js
Labels: PR: In Review, Review: Dev, Topic: Search, Vault: react-ui-ag

#384 fix(datepicker): fixes broken ssr
  packages/react-ui-core/src/DateInput/DateInput.js
  packages/react-ui-core/src/DateInput/__tests__/DateInput-test.js
  packages/react-ui-core/src/Form/MoveInDate.js
  packages/react-ui-core/src/Form/__tests__/MoveInDate-test.js
Labels: PR: In Review, Review: Dev, Topic: Form, Vault: react-ui-core

#383 version bump: react-ui calendar
  packages/react-ui-core/package.json
Labels: PR: RTM, Reviewed: Dev, Topic: Architecture, Vault: react-ui-core

#389 fix(datepicker): bump datepicker package
  packages/react-ui-core/package.json
Labels: PR: In Review, Review: Dev, Topic: Architecture, Vault: react-ui-core

#379 refactor(@rentpath/react-ui-ag): remove MobileListing component
  packages/react-ui-ag/src/Listings/MobileListing.js
  packages/react-ui-ag/src/Listings/__tests__/MobileListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/mocks/theme.js
  packages/react-ui-ag/src/Listings/index.js
  packages/react-ui-ag/src/index.js
  stories/ag/Listings/MobileListing.js
  stories/ag/Listings/index.js
  stories/ag/index.js
  stories/theme/ag/small/MobileListing.css
  stories/theme/ag/small/index.js
Labels: PR: RTM, Reviewed: Dev, Topic: Listing, Vault: react-ui-ag

#392 feat(datepicker): clone into repo
  .storybook/webpack.config.js
  package.json
  packages/react-ui-core/package.json
  packages/react-ui-core/src/DateInput/DateInput.js
  packages/react-ui-core/src/DateInput/__tests__/DateInput-test.js
  packages/react-ui-core/src/DatePicker/Calendar.js
  packages/react-ui-core/src/DatePicker/DatePicker.js
  packages/react-ui-core/src/DatePicker/__tests__/Calendar-test.js
  packages/react-ui-core/src/DatePicker/__tests__/DatePicker-test.js
  packages/react-ui-core/src/DatePicker/index.js
  packages/react-ui-core/src/Listing/ListingComponents.js
  stories/theme/calendar.global.scss
  stories/theme/index.js
  yarn.lock
Labels: PR: In Review, Review: Dev, Topic: Architecture, Vault: react-ui-core
