Repository rentpath/react-ui, pull requests merged in 2018-11, with the labels that each got.

#420 fix(es): wrong env preset
  packages/react-ui-ag/.babelrc
  packages/react-ui-core/.babelrc
  packages/react-ui-rent/.babelrc
  packages/react-ui-tracking/.babelrc
  packages/react-ui-utils/.babelrc
Labels: PR: In Review, Review: Dev, Topic: Architecture

#423 feat(markers): Change the base marker sizes for ag map pins
  packages/react-ui-ag/src/Gmap/markerIcons.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-ag

#426 fix(Core/Calendar+Datepicker): update date-fns calls to use yyyy
  packages/react-ui-core/src/DatePicker/Calendar.js
  packages/react-ui-core/src/DatePicker/DatePicker.js
  packages/react-ui-core/src/DatePicker/__tests__/Calendar-test.js
  packages/react-ui-core/src/DatePicker/__tests__/DatePicker-test.js
Labels: Review: Dev, Vault: react-ui-core

#427 chore(react): bump react
  package.json
  packages/react-ui-ag/package.json
  packages/react-ui-core/package.json
  packages/react-ui-rent/package.json
  packages/react-ui-tracking/package.json
  packages/react-ui-utils/package.json
  yarn.lock
Labels: PR: RTM, Reviewed: Dev, Topic: Architecture

#429 Allow Gmap to handle custom styles
  packages/react-ui-core/src/Gmap/Gmap.js
  stories/core/Gmap.js
  stories/core/index.js
Labels: PR: In Review, Review: Dev, Topic: Map, Vault: react-ui-core

#431 feat(markerIcons): update the color of map pins to new brand red
  packages/react-ui-ag/src/Gmap/markerIcons.js
Labels: PR: RTM, Reviewed: Dev, Topic: Map, Vault: react-ui-ag
