Repository rentpath/react-ui, pull requests merged in 2019-04, with the labels that each got.

#450 feat(Remove Listings code from react-ui-ag)
  .travis.yml
  packages/react-ui-ag/src/Listings/DesktopListing.js
  packages/react-ui-ag/src/Listings/DesktopMapPinListing.js
  packages/react-ui-ag/src/Listings/Listing.js
  packages/react-ui-ag/src/Listings/MobileMapListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyDesktopListing.js
  packages/react-ui-ag/src/Listings/SingleFamilyMobileMapListing.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/DesktopMapPinListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/Listing-test.js
  packages/react-ui-ag/src/Listings/__tests__/MobileMapListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyDesktopListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/SingleFamilyMobileMapListing-test.js
  packages/react-ui-ag/src/Listings/__tests__/__snapshots__/Listing-test.js.snap
  packages/react-ui-ag/src/Listings/__tests__/mocks/theme.js
  packages/react-ui-ag/src/Listings/index.js
  packages/react-ui-ag/src/index.js
  packages/react-ui-core/src/Listing/ListingCell.js
  packages/react-ui-core/src/Listing/ListingComponents.js
  packages/react-ui-core/src/Listing/__tests__/ListingCell-test.js
  packages/react-ui-core/src/Listing/__tests__/ListingComponents-test.js
  packages/react-ui-core/src/Listing/index.js
  packages/react-ui-core/src/index.js
  stories/ag/Listings/DesktopListing.js
  stories/ag/Listings/DesktopMapPinListing.js
  stories/ag/Listings/MobileMapListing.js
  stories/ag/Listings/baseListing.js
  stories/ag/Listings/index.js
  stories/ag/index.js
  stories/core/ListingCell.js
  stories/core/index.js
Labels: PR: RTM, Reviewed: Dev, Topic: Listing, Vault: react-ui-ag

#451 feat(Carousel): Fullbleed Gallery Proptype Support
  packages/react-ui-core/src/Carousel/Carousel.js
  packages/react-ui-core/src/Carousel/PhotoCarousel.js
Labels: Reviewed: Dev, Topic: Carousel, Vault: react-ui-core

#452 feat(Carousel): Carousel fix to support Fullbleed and legacy code
  packages/react-ui-core/src/Carousel/Carousel.js
Labels: PR: RTM, Reviewed: Dev, Vault: react-ui-core

#454 fix(react-ui-core): load modal on ModalStack componentDidMount
  packages/react-ui-core/package.json
  packages/react-ui-core/src/ModalStack/ModalStack.js
  packages/react-ui-core/src/ModalStack/__tests__/ModalStack-test.js
  packages/react-ui-core/src/ModalStack/__tests__/__helpers__/TestModal.js
  packages/react-ui-core/src/ModalStack/__tests__/__snapshots__/ModalStack-test.js.snap
Labels: PR: RTM, Reviewed: Dev, Topic: Modal, Vault: react-ui-core
